
.desk-name{font-weight:bold;margin:6px 10px;font-size:13px;height: 20px;text-align: left;}
.desktop-box{height: 100%;width:100%;position:relative;}
.desk{height: 112px;width: 170px;margin: 5px;border:solid 1px #9acd32;cursor: pointer;background-color: #ded;}
.desk-status{height: 40px;text-align: right;font-size: 12px;line-height: 40px;margin-right:6px;}
.desk-consumed{font-weight:bold;margin:20px 10px;font-size:12px;color:#999}
.desk-color{background-color:#dedede}
.desk-consumed-box{width: 100%;margin: 0 auto;display: none;margin-top:10px;}

 
.shop-menu-classify li{list-style: none;height: 30px;border: 1px solid #1299ec;background: #28a3ef;min-width: 76px;line-height: 30px;margin: 2px 0px 0px 2px;float: left;color:#fff;cursor: pointer;}

.modal-body{font-size:14px;}
.modal-body form {font-size:13px}
.modal-body input {width:300px}
.modal-body textarea {width:300px;height:80px;}
#deskId {background:#f3f3f3}
#deskName {background:#f3f3f3}
 
 
 ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color:#fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb {
    background-color: #dedede;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
::selection {
    color: #fff;
    background-color: #08c;
}
.input-xfat{
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 14px;
    line-height: 22px;
    padding-right: 8px;
    padding-left: 8px;
    
}
#settle-accounts .ctrl-btn{width:95px;margin: 5px;text-align: center;border: 1px solid #aeaeae;font-size: 18px;font-weight: 600;cursor:pointer;background-color:#eee;}
#settle-accounts .x-input{width: 260px;display: block;height: 25px;margin-bottom: 5px;}
#settle-accounts .num-btn{cursor:pointer;color:#fff;background-color:#000;width:63px;height:40px;margin-right:5px;margin-bottom:5px;float:left;border:1px solid #dedede;line-height:40px;text-align:center;}
#settle-accounts .num-btn.func{width:80px;}
.pay-menu li{margin-top:10px}

.recipes-box{position:absolute;width:80%;height:99.7%;border:1px solid #bfc0c1;background-color:#fff; } 
.recipes-title{
    width: 100%;
    height: 42px;
    padding-top: 9px; 
    font-size: 13px;
    padding-left: 20px;
    font-weight: normal;
    border-bottom: 1px solid #dedede;
    position: absolute;
    box-sizing: border-box;
    background: #eee;
}
.user-recipes-list{margin-top:42px}
.recipes-title lable{color:#777;margin:0 4px}
.recipes-box.user-recipes-box1{left:0px;/* bottom:0px;*/z-index:1;border-right: solid 2px #46b8da;border-radius: 4px;}
.recipes-box.shop-recipes-box1{    
   right: 0px;
    top: 0px;
    z-index: 2;
    border-left: solid 2px #46b8da;
    /* border-radius: 4px; */
    border-right: none;
    width: 65%; 
}
/**.user-recipes-box1:hover{box-shadow: 0px 0px 3px #07477f;z-index:3;}
.shop-recipes-box1:hover{box-shadow: 0px 0px 3px #07477f;z-index:4;opacity:1}*/
.operater{position:absolute;width:100%; padding-top: 6px;bottom:0px;border-top:1px solid #dedede;height:106px;}
.recipes-classify{width: 160px;height: 100%;border-left: 1px solid #9ec8ec;background-color: #fff;position:relative;border-radius: 5px;}
.recipes-classify .browse-btn{cursor:pointer;width:100%;height:45px;position:absolute;text-align:center;line-height:40px;font-size:13px;font-weight:600;overflow:hidden;}
.recipes-classify .browse-btn.pre{top:0px;border-bottom:1px solid #add0ef;line-height:40px;}
.recipes-classify .browse-btn.pre:hover{box-shadow: 0 0 3px;}
.recipes-classify .browse-btn.next{bottom:0px;border-top:1px solid #add0ef;line-height:50px;}
.recipes-classify .browse-btn.next:hover{box-shadow: 0 0 3px;}
.recipes-classify .browse-btn i{display:block;position:absolute;width:20px;height:20px;background-color:#add0ef;left:50%;margin-left:-10px;transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);}
.recipes-classify .browse-btn i.pre{bottom:-10px;}
.recipes-classify .browse-btn i.next{top:-10px;}

.recipes-classify-select{height:100%;width:100%;padding:45px 2px;box-sizing: border-box;}

.recipes-classify-content-wrap{width:100%;height:100%;padding-right:160px;box-sizing:border-box;position:relative;z-index:-1;}
.recipes-classify-content-left-box{width:100%;height:100%;box-sizing:border-box;}
.recipes-classify-content-left{height:100%;width:100%;overflow-y:scroll;margin-right: -1px;float:left;}
.recipes-classify-content-title{box-sizing: border-box;position:absolute;width:100%;height:40px;margin-top:-40px;border-bottom: 1px solid #b5c0ca;line-height: 40px;font-size: 13px;font-weight: 600;padding-left: 20px;margin-left:-1px;}

.user-consumed-aggregate{width: 180px;margin-left: 17px;}
.user-consumed-btn{width: 90px;margin-left: 17px;}
.user-consumed-aggregate-input{width:240px;   padding-left: 10px;    box-sizing: border-box;}
.recipes-classify-select .item{ 
    margin: 5px; 
    text-align: center;
    border: 1px solid #2087e1;
    cursor: pointer;
    border-radius: 5px;
    background: #ded;
    padding-top:8px;
}
.recipes-classify-content-left .item {
    height: 60px;
    width: 105px;
    margin: 5px;
    text-align: left;
    border: 1px solid #2087e1;
    cursor: pointer;
    border-radius: 5px;
    background: #ded;
    padding-top: 8px;
    padding-left: 6px;
    margin-left:11px;
}
.recipes-classify-content-left-set{overflow-y:scroll}
.recipes-classify-content-left-set .item {
    height: 20px;
    width: 290px;
    margin: 5px;
    text-align: left;
    border: 1px solid #2087e1;
    cursor: pointer;
    border-radius: 5px;
    background: #ded;
    padding-top: 4px;
    padding-left: 6px;
    margin-left: 11px;
    padding-bottom: 8px;
}
.item-box{
    height: 60px;
    width: 65px;
    margin: 5px;
    line-height: 60px;
    float:left;
}
.takeout-custom-info{
    z-index: 99999;
    position: relative;
    border: 4px solid #2087e1;
    height: 320px;
    /* width: 400px; */
    background: #fff;
    border-radius: 12px;
    margin: 2px 0 0 -10px
 } 
.sui-form.form-horizontal .control-group {
    margin-bottom: 1px; 
    margin-top: 18px;
    margin-left: 10px;
}
.modal-body{font-size:14px;}
.sui-form.form-horizontal .control-label {width: 89px}
.sui-form input, .sui-form textarea, .sui-form .uneditable-input {
	width:210px;
    margin-left: 0;
}
.modal-body form {font-size:13px}
.modal-body input {width:50px}
.modal-body textarea {width:100px;height:60px;}
.msg-error{
	position: fixed;
    margin-left: -5px; 
   
}
.sui-form .help-inline {
	    position: absolute;
    line-height: 10px;
}
.sui-msg.msg-error > .msg-icon:before {
    content: "×";
}
input[disabled]{
	background-color:#eee;
}
.dish-expand{cursor:pointer;font-size:14px;text-decoration:none}
.width-change{     
        width: 4px; 
    z-index: 9;
    height: 60px;
    position: fixed;
    background: url(../img/vgrabber.gif);
    top: 52.4%;
    cursor: pointer;
    background-size: 50%;
}
.dish-operate{font-size:18px;font-weight:600;margin-left:8px;float:right;cursor:pointer}
.sui-tag.tag-bordered{border:none;  margin-bottom: 0;}
.dish_need li{margin-left:8px;width:60px;}